* {
  box-sizing: border-box;

#header {
	width: 100%;
	height: 80px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

#headertext {
	width: 25%
	border
}

#nav {
	width: 25%;
}

#continerwrapper {
	width: 100%;
}