* {
  box-sizing: border-box;
  margin: 0px;
  padding: 1%;
}

#header {
	color: white;
	background: #63a8a4;
	width: 40%;
	height: 75px;
	margin-left: 11.1%;
}

#backgroundimg {
	width: 100%;
	height: 400px;
	border-bottom: 15px; border-color: #63a8a4; border-style: solid;
	background-image: url("https://i.pinimg.com/originals/d1/f7/17/d1f71749f2332a16b790136320d10a70.jpg");
}

#profile {
	width: 150px;
	height: 100px;
	float: left;
}

#contact {
	background-color: white;
	text-align: center;
	width: 22%;
	height: 150px;
	float: right;
	margin-top: 5%;
	margin-right: 25%;
	padding-top: 2%;
	color: #63a8a4;
}

#alltext {
	background-color: #ffffff;
	margin-left: 11.1%;
	margin-top: 5%;
	float: left;
	width: 40%;
	padding: 1%;
}

#text {
	display: block;
}

#aboutme {
	color: #63a8a4;
}

#footer {
	text-align: center;
	background-color: #666666;
	color: #7B7B7C;
	height: 60px;
}

#footertext {
	vertical-align: center;
}

#headertext {
	font-size: 40px;

}

.socialicon {
	float: left;
	height: 36px;
	width: 36px;
	padding: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;
}

#github {
	align-items: center;
}

#linked {
	align-items: center;
}

#stack {
	align-items: center;
}

.ruler {
	height: 1px;
	border-color: black;
}

.list {
	list-style-type: none;
	float: right;
	color: black;
	border-style: solid;
	border-color: blue;
	height: 50px;
	width: 50%;
	text-align: center;
	vertical-align: middle;
}

#li1 {
	display: inline;
}

#li2 {
	display: inline;
}

#li3 {
	display: inline;
}
