header {
	color: white;
	background: blue;
	height: 60px;
}

#backgroundimg {
	width: 100%;
	height: 300px;
	background-image: url("sandpaper.png");
	background-color: pink;
}

#profile {
	float: left;
	width: 100px;
	height: 100px;
}

#contact {
	float: right;
	background-color: yellow;
}

#text {
	float: left;
}

footer {
	background-color: #ccc;
	color: white;
}
