* {
  box-sizing: border-box;
}

header {
	color: white;
	background: #63a8a4;
	width: 40%;
	height: 75px;
	margin-left: 11.1%;
	margin-bottom: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
}

#backgroundimg {
	width: 100%;
	height: 400px;
	border-bottom: 15px; border-color: #63a8a4; border-style: solid;
	background-image: url("https://i.pinimg.com/originals/3c/94/36/3c9436b8c001467db13749b1bc0aae75.jpg");
	margin-bottom: 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

#profile {
	width: 150px;
	height: 100px;
	float: left;
}

#contact {
	background-color: white;
	text-align: center;
	width: 22%;
	height: 150px;
	float: right;
	margin-top: 5%;
	margin-right: 25%;
	padding: 1%;
	color: #63a8a4;
}

#alltext {
	background-color: #ffffff;
	margin-left: 11.1%;
	margin-top: 5%;
	float: left;
	width: 40%;
	padding: 1%;
}

#text {
	display: block;
}

#aboutme {
	color: #63a8a4;
}

footer {
	text-align: center;
	background-color: #666666;
	color: #7B7B7C;
	height: 50px;
}

.socialicon {
	float: left;
	height: 36px;
	width: 36px;
	padding: 5%;
	margin-left: 2%;
	margin-right: 12%;
}

#github {
	align-items: left;
}

#linked {
	align-items: center;
}

#stack {
	align-items: right;
}

.ruler {
	height: 2px;
	border-color: black;
}
