* {
  box-sizing: border-box;
}

header {
	color: white;
	background: blue;
	height: 10%;
	margin-bottom: 1%;
}

#backgroundimg {
	width: 100%;
	height: 400px;
	border-bottom: 5px; border-color: black; border-style: solid;
	background-image: url("https://i.pinimg.com/originals/3c/94/36/3c9436b8c001467db13749b1bc0aae75.jpg");
}

#profile {
	width: 150px;
	height: 100px;
	float: left;
}

#contact {
	background-color: yellow;
	text-align: center;
	width: 22%;
	height: 150px;
	float: right;
	margin-top: 10%;
	margin-right: 25%;
	padding: 1%;
}

#alltext {
	background-color: red;
	margin-left: 11.1%;
	margin-top: 10%;
	float: left;
	width: 40%
}

#text {
	display: block;
}

#aboutme {
	border-color: black; 2px; border-style: solid;
}

footer {
	text-align: center;
	background-color: #ccc;
	color: orange;
	height: 5%;
}

.socialicon {
	float: left;
	height: 36px;
	width: 36px;
	padding: 5%;
	margin-left: 2%;
	margin-right: 12%;
}

#github {
	align-items: left;
}

#linked {
	align-items: center;
}

#stack {
	align-items: right;
}
