* {
  box-sizing: border-box;
}

header {
	color: white;
	background: blue;
	height: 10%;
	margin-bottom: 1%;
}

#backgroundimg {
	width: 100%;
	height: 400px;
	background-image: url("https://il3.picdn.net/shutterstock/videos/3507950/thumb/1.jpg");
	background-color: pink;
}

#profile {
	width: 100px;
	height: 100px;
	float: left;
}

#contact {
	background-color: yellow;
	text-align: center;
	width: 20%;
	height: 150px;
	float: right;
	margin-top: 1%;
	margin-right: 5%;
}

#text {
	border-color: black; 5px; border-style: solid;
}

#aboutme {
	border-color: black; 2px; border-style: solid;
	width: 200px;

}

#alltext {
	display: block;
	width: 40%;
	background-color: red;
	margin-left: 1%;
	margin-top: 1%;
	float: left;
}

footer {
	text-align: center;
	background-color: #ccc;
	color: orange;
	height: 5%;
}
