* {
  box-sizing: border-box;
}

header {
	color: white;
	background: blue;
	height: 10%;
	margin-bottom: 1%;
}

#backgroundimg {
	width: 100%;
	height: 400px;
	border-bottom: 5px; border-color: black; border-style: solid;
	background-image: url("https://i.pinimg.com/originals/3c/94/36/3c9436b8c001467db13749b1bc0aae75.jpg");
}

#profile {
	width: 100px;
	height: 100px;
	float: left;
}

#contact {
	background-color: yellow;
	text-align: center;
	width: 20%;
	height: 150px;
	float: right;
	margin-top: 10%;
	margin-right: 25%;
}

#text {
	border-color: black; 5px; border-style: solid;
}

#aboutme {
	border-color: black; 2px; border-style: solid;
	width: 200px;

}

#alltext {
	display: block;
	width: 40%;
	background-color: red;
	margin-left: 11.1%;
	margin-top: 10%;
	float: left;
}

footer {
	text-align: center;
	background-color: #ccc;
	color: orange;
	height: 5%;
}

.socialicon {
	height: 1px;
	width: 1px;
}
