* {
	position: relative;
}

header {
	width: 100%;
	height: 100px;
	border-style: solid;
	border-color: black
	border-width: 1px;
	background-color: pink;

}

#headercontent {
	width: 960px;
	height: 100px;
	margin: auto;
}

#headertext {
	width: 200px
	height: 100px;
	color: black
	font-size: large;
	border-style: solid;
	border-color: black
	border-width: 1px;
	background-color: red;
	float: left;
}

#nav {
	width: 300px;
	font-size: medium;
	border-style: solid;
	border-color: black
	border-width: 1px;
	background-color: yellow;
	float: right;
}

#navlist {
	list-style-type: none;
	display: inline block;
}

.navlink {
	float: left;
	padding: 5px;
	text-align: center;
}

#about {
}

#portfolio {
}

#contact {
}

#containerwrapper {
	width: 100%;
	height: 600px;
	border-style: solid;
	border-color: black
	border-width: 1px;
	background-color: red;
}

#maincontent {
	margin: auto;
	width: 960px;
	height: 600px;
	border-style: solid;
	border-color: black
	border-width: 1px;
	background-color: white;

}

#aboutme {
	margin-top: 100px;
	width: 650px;
	height: 400px;
	border-style: solid;
	border-color: black
	border-width: 1px;
	background-color: pink;
	float: left;
}

#connect {
	margin-top: 100px;
	width: 270px;
	height: 200px;
	border-style: solid;
	border-color: black
	border-width: 1px;
	background-color: green;
	float: right;
}


footer {
	text-align: center;
	width: 100%;
	color: blue;
	border-style: solid;
	border-color: black
	border-width: 1px;
	background-color: brown;
}