* {
	position: relative;
}

header {
	width: 100%;
	height: 100px;
	background-color: pink;
}

#headercontent {
	width: 960px;
	height: 100px;
	margin: auto;
}

#headertext {
	width: 300px;
	height: 80px;
	margin-top: 18px;
	color: blue;
	font-size: 40px;
	background-color: red;
	float: left;
}

#nav {
	width: 300;
	height: 50px;
	margin-top: 25px;
	font-size: medium;
	background-color: yellow;
	float: right;
}

#navlist {
	list-style-type: none;
	display: inline;
}

.navlink {
	float: left;
	padding: 3px;

}

#about {
	float: left;
}

#portfolio {
	float: left;
}

#contact {
	float: left;
}

#containerwrapper {
	width: 100%;
	height: 600px;
	background-color: red;
	background-image: url("../images/sandpaper/sandpaper.png");
}

#maincontent {
	margin: auto;
	width: 960px;
	height: 600px;
	background-image: url("../images/sandpaper/sandpaper.png");
}

#aboutme {
	margin-top: 100px;
	width: 650px;
	height: 400px;
	background-color: pink;
	float: left;
}

#connect {
	margin-top: 100px;
	width: 270px;
	height: 200px;
	background-color: green;
	float: right;
}

footer {
	width: 100%;
	height: 100px;
	background-color: grey;
}

#footertext {
	text-align: center;
	margin-top: 30px;
	width: 100%;
	height: 40px;
	color: blue;
	background-color: none;
	float: left;
}