* {
}

header {
	width: 100%;
	height: 100px;
	background-color: white;
}

#headercontent {
	width: 960px;
	height: 100px;
	margin: auto;
}

#headertext {
	width: 300px;
	height: 80px;
	margin: 18px;
	color: white;
	font-size: 20px;
	text-align: center;
	background-color: #63a8a4;
	float: left;
}

#nav {
	width: 300;
	height: 50px;
	margin-top: 25px;
	font-size: medium;
	background-color: white;
	float: right;
}

#navlist {
	list-style-type: none;
	display: inline;
}

.navlink {
	float: left;
	padding: 3px;

}

#about {
	float: left;
}

#portfolio {
	float: left;
}

#contact {
	float: left;
}

#containerwrapper {
	width: 100%;
	height: 600px;
	background-image: url("../images/sandpaper/sandpaper.png");
	border-bottom: 10px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	border-color: #63a8a4;
}

#maincontent {
	margin: auto;
	width: 960px;
	height: 600px;
	background-image: url("../images/sandpaper/sandpaper.png");
}

#aboutme {
	margin-top: 100px;
	width: 650px;
	height: 400px;
	background-color: white;
	float: left;
}

#profile {
	height: 137px;
	width: 95px;
	float: left;
}

#biotext {
	height: 200px;
	width: 650;
}

#connect {
	margin-top: 100px;
	width: 270px;
	height: 200px;
	background-color: white;
	color: #63a8a4;
	font-size: 20px;
	text-align: center;
	float: right;
}

#buttons {
	margin: auto;
	margin-top: 30px;
}

#github {
	float:left;
	width: 33%;
}

#linked {
	float:left;
		width: 33%;

}

#stack {
	float:left;
		width: 33%;

}

footer {
	width: 100%;
	height: 100px;
	background-color: grey;
}

#footertext {
	text-align: center;
	margin-top: 30px;
	width: 100%;
	height: 40px;
	color: blue;
	background-color: none;
	float: left;
}

.ruler {
	color: #7B7B7C;
	height: 1px;
	margin-left: 15px;
	margin-right: 15px;
}